html, body {
  min-height: 100%;
}

#homeMenu{
    color: #0aaadb;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    background-color: white;
}

.imgCarusel{
    height: 500px;
}

.ImgTabla{
    width: 350px;
    height: 300px;

  }

  @media (max-width: 850px){
    .ImgTabla{
      height: 360px;
        width: 65%;    
    }

  }

@media (max-width: 576px) {
    .imgCarusel {
      height: 100%;
    }

    .ImgTabla{
        height: 160px;
        width: 80%;    
    }
  }


  .textCarusel2{
    text-align: center;
  }

  .carousel-dark .carousel-caption {
    color: #000;
    background-color: #43a7ff;
  }


  

  .imgFooter{
height: 25px;
width: 25px;
  }


  section p
{
  overflow: hidden;
  max-height: 0;
  text-align: justify;
  transition: all .2s ease-in-out;
}

section a
{
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 10px;
  background-color: rgb(14, 14, 14);
  color: white;
  border-bottom: 2px solid gray;
}

section:target p
{
  max-height: 150px;
  padding: 10px;
} 

.container{
  margin-top: 2%;
}

#map{
  margin:auto ; width:100%; height: 400px;
  box-shadow: 10px 10px 23px 1px rgba(8, 66, 89, 0.75);
  -webkit-box-shadow: 10px 10px 23px 1px rgba(8, 66, 89, 0.75);
  -moz-box-shadow: 10px 10px 23px 1px rgba(8, 66, 89, 0.75);

}
.imgNews{
  height: 400px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
.pNews{
  margin-bottom: 0;
}
.aNews{
  
}
#divNews{
  height: 100%;
  position: relative;
  background-color: aliceblue;
}

/*Responsive*/


@media  (max-width:760px)  {

   
  .imgNews{
    width: 90%;
    height: 100%;
  }}

  .btnRefresh{
    height: 50px;
  cursor: pointer;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;

  }

@media  (max-width:950px)  {

   
  .btnRefresh{
    position: relative;
  }}

  /*Style develipers*/



  #avatar{
    height: 100px;
    width: 100px;
  }

  #divJobs{
    margin-top: 2%;
    background-color: #39474d;
    color: white;
  }

  .imgLogo{
    height: 150px;
    width: 150px;
  }

  .formjobs{
background-color: #39474d;
padding: 2%;
  padding-right: 2%;
padding-right: 0%;
padding-bottom: 1%;
  }


  .imgFood{

    height: 150px;
    width: 150px;
  }

  .contenedorMain{
    background-image: linear-gradient(
179.2deg,
#ffffff 0%, #4cbdee 25%, #2e89b1 50%, #185b77 75%, #092b3a 100%

    );
  
  width: 100%;
  height: 1500vh;
  overflow: hidden;
  
  }

  .contenedorAnimacion {
    position: relative;
    height: 1490vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nave{
  
    top: 100px;
  position: absolute;
    width: 350px;
    height: 350px;
 
  
  }
  
  .codigo{
    width: 400px;
    height: 200px;
    position: absolute;
    opacity: 0;
  }

  .codigo1{
   opacity: 1;
    right: 5%;
    top: 100vh;

  }

  .codigo2{
    opacity: 0;
     left: 5%;
     top: 100vh;
 
   }

   .codigo3{
    opacity: 0;
     left: 5%;
     top: 100vh;
 
   }
   .codigo4{
    opacity: 0;
     right: 5%;
     top: 100vh;
 
   }
 
   .texto{
    color: white;
    position: absolute;
    opacity: 0;
    right: 10%;
    top: 100vh;

   }
